*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#welcome-section{
    display: grid;
    place-items: center;
    background-color: blue;
    color : white;
    height: 100vh;
    width: 100vw;
    font-size: 2.5rem;
}
#projects{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 5vh;
width: 100vw;

background-color: brown;
color: white;


}

.projects-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 4rem;
width: 80%;
max-width: 1280px;
margin: 0 auto;
margin-bottom: 6rem;
}

img {
    height: 300px;
    width: 300px;
}

.description{
    width: 300px;
    background-color: #313841;
    text-align: center;
    padding: 5%;
}
.projects-section-header{
    padding-top: 20px;
    font-size: 3rem;
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}

ul {
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

@media only screen and (max-width: 850px){
	/*Small smartphones [325px -> 425px]*/
    
    .nav-list a {
       
        font-size: 1.2rem;
        
    }
    h1 , h2 {
        font-size: 1.8rem;
    }
}
